In [2]:
print("Hello Python!!!")
print(14)

Hello Python!!!
14

In [5]:
print("Hii friends\nHow are you")

Hii friends
How are you

In [ ]:
# Single line comment
''' Multiline comment
jtiojbon '''

In [12]:
print("Helooo \"Python\" ")

Helooo "Python"

In [15]:
print(1 ,2, 3,sep="*",end="#")

1*2*3#

In [18]:
a=10
b=10.14
c="Hello"
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [22]:
a="hello"
print(a)
'''hiiii firends how are u'''

hello

'hiiii firends how are u'

In [ ]:
# Operators
# 1.Arithmetic
# 2.Conditional
# 3.Assignment
# 4.Indentity (is ,is not)
# 5.Membership(in , not in)

In [20]:
#user Input 
a=input("Enter input")
print(a)
type(a)

Enter input hello

hello

str

In [2]:
# Slicing ******Strings are immutable*********
a="harry"
print(a[-4:-2])
print(a[-3:-1])

ar
rr

In [49]:
# Sting methods
a="**Mrinal *** Mrinal!!!"
print(len(a))
print(a.upper())
print(a.lower())   
print(a.rstrip("*"))      # only remove trailing(Ending) characters not leading
print(a.replace("Mrinal","Aditya")) # Replaces all occurrences of Mrinal
print(a.split(" "))
b="i am Mrinal"
print(b.capitalize())      # capitalize  only first letter
print(len(b))
print(len(b.center(20)))    # center() use to add spaces
print(a.count("Mrinal"))     # count occurrences of string/character
print(a.count("i"))
print(a.endswith("!"))       # check endswith
print(a.endswith("al",2,8))  # check endswith in parts of sentence
c="Hello how are you  are 43!!"
print(c.find("are"))# returns index of first occurrence of are
d="hfgfKKK"
e="hfhfjd123e4"
print(e.isalnum()) # checks alphabet and numbers are present
print(d.isalpha()) # checks only alphabet(small and capital both)
print(e.islower()) # checks all leters are lower
f="HHJKLL"
print(f.isupper())  # checks all letter upper
g="rgnv ndf b"
print(g.isprintable()) # checks all letter are printable
h="vrivnnv\n"
print(h.isprintable()) # \n is escape character so return false
i="   "
print(i.isspace())    # checks if space is present or not
j="Mrinal"
print(j.istitle())    #checks first letter is title(capital) or not
print(j.startswith("Mr")) # checks starts with 
print(j.swapcase())       # convert lower to upper and upper to lower
print(j.title())         # covert into title

22
**MRINAL *** MRINAL!!!
**mrinal *** mrinal!!!
**Mrinal *** Mrinal!!!
**Aditya *** Aditya!!!
['**Mrinal', '***', 'Mrinal!!!']
I am mrinal
11
20
2
2
True
True
10
True
True
True
True
True
False
True
False
False
MRINAL
Mrinal

In [51]:
# match case statement(switch case in other languages)
x=int(input("Enter value of x"))
match x:
    case 0:
       print("x is zero")
    case 14:
        print("x is 14")

Enter value of x 0

x is zero

In [52]:
# for loop
a="Mrinal"
for i in a:
    print(i)

M
r
i
n
a
l

In [59]:
for i in range(0,15,2):
    print(i)

0
2
4
6
8
10
12
14

In [64]:
# while loop
i=0
while(i<=14):
    print(i)
    i+=2

0
2
4
6
8
10
12
14

In [70]:
# do file loop *********************No do while loop in python************
i=1
do
{
    print(i)
    
}while(i<4);

SyntaxError: invalid syntax (4017100279.py, line 7)

In [76]:
# Break statement
for i in range(12):
    if(i==11):
        break
    print("5 X",i,"=",5*i)

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [82]:
# Continue statement
for i in range(12):
    if(i==10):
        continue
    print("5 X",i,"=",5*i)

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 11 = 55

In [83]:
# how to emulate do while loop in python
# use infinite while loop then add if condition so that it will break the loop
i=0
while True:
    print(i)
    i+=1
    if(i%14 ==0):
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [84]:
# Function
def isGreater(a,b):
    if(a>b):
        print(a ,"is greater")
    else:
        print(b,"is greater")
num1=int(input("Enter first no."))
num2=int(input("Enter second no."))
isGreater(num1,num2)

Enter first no. 10
Enter second no. 20

20 is greater

In [ ]:
# Function arguments
# 1) Default
# 2) Keyword
# 3) Variable length
# 4) Required arguments

# ************In function if we take more than one return statement  then always
#it will execute first return statement************

In [85]:
# List- ordered collection of elements
# List is mutable
# list allows to add different data types in single list'
# Indexing and slicing is used to access list elements
# List comprehension-used for creating new list from other list,tuples,
# dictionaries ,sets etc
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [87]:
# List Comprehension
l1=[i*i for i in range(10)]
print(l1)
l2=[i*i for i in range(10) if i%2==0]
print(l2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [100]:
# List methods
l=[1,6,3,5,0,34,5]
print(l)
l.append(14)   # add elements at the end
print(l)
l.sort()       # sort the elements in (asc/desc) by default asc
print(l)
l.reverse()    # reverse the elements
print(l)
print(l.index(14))  # gives the index of specific elements
print(l.count(5))   #  count the occuurrence of elements
l.insert(1,1689)    #  insert the element at specific index 
print(l)
m=[1,2,3,4]
k=l+m                # concatenate the list
print(k)
o=[3,3,3,3]
m.extend(o)         # extend the list in another list
print(m)

[1, 6, 3, 5, 0, 34, 5]
[1, 6, 3, 5, 0, 34, 5, 14]
[0, 1, 3, 5, 5, 6, 14, 34]
[34, 14, 6, 5, 5, 3, 1, 0]
1
2
[34, 1689, 14, 6, 5, 5, 3, 1, 0]
[34, 1689, 14, 6, 5, 5, 3, 1, 0, 1, 2, 3, 4]
[1, 2, 3, 4, 3, 3, 3, 3]

In [101]:
# tuple enclosed in round bracket
# tuple is immutable
# access element using slicing and indexing
# we can change tuple by first converting it into list
tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [105]:
# tuple methods
t=(5,3,4,5,6,8,6,7)
a=t.count(5)
print(a)
b=t.index(3)
print(b)

2
1